html{
	font-family:arial;
}


#title{
	text-align: center;
}



#leftPanel{
	width: 48%
	margin:0%;
	float:left;
	background-color: lightblue;
}

#rightPanel{
	width:48%;
	margin:0%;
	float:right;
	background-color:lightgreen;
	font-size:60%;
}

form{
	font-size:60%;
}

.errMsg{
	font-size:80%;
}

#detail{
	height:50%;
	width:50%
}

form input{
	width: 50%;
}

li{
	border: 1px solid black;
}

.yellow{
	background-color: lightyellow;
}

.detailsDisplay{
	text-decoration: underline;
}

.subTitle{
	font-size: 70%;
}

.rightPanelTitle{
	font-size:125%;
}

.titleDisplay{
	color:red;
}

/* responsive */
@media only screen and (max-width:880px){
	#rightPanel{
		float:left;
		width:100%;
	}

	#leftPanel{
		width:100%;
	}
}


